<!doctype html>
<title>Categories:</title>

<a href="{{ url_for('todo.todos') }}" class="register-link">TODOs</a>

<form method="POST" action="/categories">
    <input type="text" name="category_name" placeholder="Add another category here" class="form-input" required>
    <input type="submit" value="Add" class="btn">
</form>

<table>
    <tr>
        <th>Categories</th>
    </tr>
    {% for category in categories %}
        <tr>
        <td>{{ category.name }}</td>
        </tr>
    {% endfor %}
</table>
